# Utilitarian compose file to locally run postgres service
# for integration testing purposes.

version: '3.8'

services:
  marketplace_db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=marketplace_admin
      - POSTGRES_PASSWORD=marketplace_password
      - POSTGRES_DB=marketplace
    ports:
      - 5432:5432
    volumes:
      - marketplace_data:/var/lib/postgresql/data
      - ./test/db/init-favorites-schema.sh:/docker-entrypoint-initdb.d/init-schema.sh
  dapps_db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=dapps_admin
      - POSTGRES_PASSWORD=dapps_password
      - POSTGRES_DB=dapps_test
    ports:
      - 5433:5432
    volumes:
      - dapps_data:/var/lib/postgresql/data
      - ./test/db/init-marketplace-schema.sh:/docker-entrypoint-initdb.d/init-schema.sh
  builder_db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=builder_admin
      - POSTGRES_PASSWORD=builder_password
      - POSTGRES_DB=builder_server
    ports:
      - 5434:5432
    volumes:
      - builder_data:/var/lib/postgresql/data
      - ./test/db/init-marketplace-schema.sh:/docker-entrypoint-initdb.d/init-schema.sh


volumes:
  marketplace_data:
  dapps_data:
  builder_data:
